<div class='p-8 flex flex-col space-y-6'>
  <div>
    <p>Hello Jane,</p>
  </div>
  </div>
    <p>Product: <%= @product.name %> is below its low stock level.</p>
    <p>Kindly restock as soon as possible !</p>
  </div>
  <div>
    <p>Best Regards.</p>
  </div>
</div>
