<%= turbo_frame_tag "slide-over" do %>
  <div aria-labelledby="slide-over-title" role="dialog" aria-modal="true" data-controller="slide-over" data-slide-over-target="element">
    <div class="backdrop animate-fade-in"></div>
    <section>
      <div class="absolute inset-0 overflow-hidden">
        <div class="fixed top-0 bottom-10 md:inset-y-4 md:right-4 flex max-w-full pointer-events-none" data-slide-over-target="wrapper">
          <!-- This element should be the target -->
          <div class="w-screen max-w-md pointer-events-auto" data-slide-over-target="slideOver">
            <div class="flex flex-col h-full pb-6 bg-white shadow-xl md:rounded-lg">
              <div class="p-4 md:px-6 flex items-start justify-between bg-purple-900">
                <div class='space-y-1'>
                  <h2 class="text-base font-bold leading-6 text-white" id="slide-over-title"><%= title %></h2>
                  <h5 class="text-base font-medium leading-6 text-white" id="slide-over-subtitle"><%= subtitle %></h5>
                </div>
                <div class="flex items-center ml-3 h-7">
                  <button type="button" class="relative text-gray-400 bg-white rounded-md hover:cursor-pointer" data-action="slide-over#slideOut">
                    <span class="sr-only">Close panel</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x bg-purple-900 text-white font-bold border border-white">
                      <path d="M18 6 6 18" />
                      <path d="m6 6 12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <section class="h-full">
                <%= content %>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
