<div class="rounded-md">
  <%= form_with(url: admin_products_path, method: :get, data: { turbo_frame: "products-table"}) do |form| %>
    <div class=''>
      <%= label :product_name, "Product Name", class: "block text-sm font-semibold leading-6 text-gray-900" %>
      <%= form.search_field :product_name, placeholder: "Search by name", oninput: "this.form.requestSubmit()", class: "block w-full rounded-md border bg-white p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-purple-800 placeholder:text-gray-400 text-sm leading-6" %>
    </div>
  <% end %>
</div>
