@import "tailwindcss";
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer utilities {
  /* Hide scrollbar for chrome, safari, and Opera*/
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for chrome, safari, and Opera*/
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */;
  }
}


/* Native CSS Styles */

#header {
  height: 10%;
}

#main {
  height: 88%;
}

#sidebar {
  width: 15%;
  height: 100%;
}

#content {
  width: 85%;
  height: 100%;
}
